@model Student_Master_Areas.Areas.MST_Student.Models.MST_StudentModel;
@{
    string dateFormate(String input)
    {
        string[] ans = new string[3];
        ans = input.Split(' ');
        return ans[0];
    }


}

<div class="pagetitle">
    <h1>Profile</h1>
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item"><a asp-action="MST_StudentList" asp-area="MST_Student">Student List</a></li>
    <li class="breadcrumb-item active">Profile</li>
</ol>

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <div class="rounded-circle">
                        <i class="bi bi-person-circle" style="font-size:120px"></i>
                    </div>
                    <h2>@Model.StudentName</h2>
                </div>
            </div>
        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Overview</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" tabindex="-1" role="tab">Edit Profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="false" tabindex="-1" role="tab">Change Password</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">@Model.StudentName</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.Email</div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Address</div>
                                <div class="col-lg-9 col-md-8">@Model.Address</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Branch</div>
                                <div class="col-lg-3 col-md-8">@Model.BranchName</div>
                                <div class="col-lg-3 col-md-4 label">City</div>
                                <div class="col-lg-3 col-md-8">@Model.CityName</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">State</div>
                                <div class="col-lg-3 col-md-8">@Model.StateName</div>
                                <div class="col-lg-3 col-md-4 label">Country</div>
                                <div class="col-lg-3 col-md-8">@Model.CountryName</div>
                            </div>

                           

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Phone(Student)</div>
                                <div class="col-lg-3 col-md-8">@Model.MobileNoStudent</div>
                                <div class="col-lg-3 col-md-4 label">Phone(Father)</div>
                                <div class="col-lg-3 col-md-8">@Model.MobileNoFather</div>
                            </div>


                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Gender</div>
                                <div class="col-lg-3 col-md-8">@Model.Gender</div>
                                <div class="col-lg-3 col-md-4 label">Is Active</div>
                                <div class="col-lg-3 col-md-8">@Model.IsActive</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Birth Date</div>
                                <div class="col-lg-3 col-md-8">@Model.BirthDate</div>
                                <div class="col-lg-3 col-md-4 label">Age</div>
                                <div class="col-lg-3 col-md-8">@Model.Age</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Created Date</div>
                                <div class="col-lg-3 col-md-8">@Model.Created</div>
                                <div class="col-lg-3 col-md-4 label">Modified Date</div>
                                <div class="col-lg-3 col-md-8">@Model.Modified</div>
                            </div>
                            <div class="row">
                            
                            </div>
                            <a asp-action="MST_StudentList"><button type="button" class="btn btn-success">Done</button></a>
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                            <!-- Profile Edit Form -->
                            <form asp-action="MST_StudentAddEdit" asp-controller="MST_Student" method="post">
                                @Html.HiddenFor(x => x.StudentID)
                                @Html.HiddenFor(x => x.Password)
                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Your Name</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="StudentName" type="text" class="form-control" id="inputName5">
                                        <span asp-validation-for="StudentName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="Email" type="email" class="form-control" id="inputEmail5">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Branch</label>
                                    <div class="col-md-8 col-lg-9">
                                        <select asp-for="BranchID" asp-items="@(new SelectList(ViewBag.branchDropDownModel,"BranchID","BranchName"))" id="inputState" class="form-select">
                                            <option selected="">Choose...</option>
                                        </select>
                                        <span asp-validation-for="BranchID" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">City</label>
                                    <div class="col-md-8 col-lg-9">
                                        <select asp-for="CityID" asp-items="@(new SelectList(ViewBag.cityDropDownModel,"CityID","CityName"))" id="inputState" class="form-select">
                                            <option selected="">Choose...</option>
                                        </select>
                                        <span asp-validation-for="CityID" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea asp-for="Address" type="text" class="form-control" id="inputAddres5s"></textarea>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                                    <div class="col-md-8 col-lg-9">
                                        <select asp-for="Gender" id="inputState" class="form-select">
                                            <option selected="">Choose...</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Phone(Student)</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="MobileNoStudent" type="text" class="form-control" id="inputEmail5">
                                        <span asp-validation-for="MobileNoStudent" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Phone(Father)</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="MobileNoFather" type="text" class="form-control" id="inputPassword5">
                                        <span asp-validation-for="MobileNoFather" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Birth Date</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="BirthDate" type="date" class="form-control" id="inputDate5" onchange="fun()" required>
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">IsActivy</label>
                                    <div class="col-md-8 col-lg-9">
                                        <select asp-for="IsActive" id="inputState" class="form-select">
                                            <option selected="">Yes</option>
                                            <option>No</option>
                                        </select>
                                        <span asp-validation-for="IsActive" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Age</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="Age" type="text" class="form-control" id="inputDate6" disabled="">
                                    </div>
                                </div>

                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-settings" role="tabpanel">

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
                            <!-- Change Password Form -->
                            <form>

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="password" type="password" class="form-control" id="currentPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>
@*
@section Scripts{
    <script>
        $(document).ready(function () {
            console.log("Hello");
            var birthDate = '@Model.BirthDate';
            $("#inputDate5").val(birthDate);
        });
    </script>
}*@
<script>

    function fun() {

        var dob = document.getElementById('inputDate5').value;
        const date = new Date();
        let year = date.getFullYear();
        document.getElementById("inputDate6").setAttribute('value', year - (dob.split('-')[0]));
        
    }
</script>