@using System.Data;
@using Student_Master_Areas.Areas.LOC_State.Models;
@if (TempData["message"] != null)
{
    if (TempData["message"].ToString().Contains("Successfully"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle me-1"></i>
            @TempData["message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">State Not Deleted </h4>
            <p>@TempData["message"]</p>
            <hr>
            <p class="mb-0">Somthing Went Wrong!</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

}
<div class="row">
    <div class="row">
        <div class="col-md-12 bg-light text-end mb-3">
            <a asp-action="LOC_StateAddEdit" asp-area="LOC_State" asp-controller="LOC_State"><button type="button" class="btn btn-success align-right"><i class="bi bi-plus-lg"></i> Add State</button></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">State Table</h5>
            <!-- Default Table -->
            @if (ViewBag.State != "NULL")
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">State Name</th>
                            <th scope="col">State Code</th>
                            <th scope="col">Country Name</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Modified Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow data in Model.Rows)
                        {
                            <tr>
                                <th scope="row">@data["StateID"]</th>
                                <td>@data["StateName"]</td>
                                <td>@data["StateCode"]</td>
                                <td>@data["CountryName"]</td>
                                <td>@Convert.ToDateTime(@data["Created"]).ToString("dd-MM-yyyy")</td>
                                <td>@Convert.ToDateTime(@data["Modified"]).ToString("dd-MM-yyyy")</td>
                                <td>
                                    <a asp-action="LOC_StateEdit" asp-route-id="@Convert.ToInt32(@data["StateID"])" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-action="LOC_StateDelete" asp-route-id="@Convert.ToInt32(@data["StateID"])" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No Record Found</h3>
            }
            <!-- End Default Table Example -->
        </div>
    </div>
</div>